# Jupyter Notebook
**.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Python
cython_debug/
*__pycache__/
*.py[cod]

# data
*.zip
# *.csv
*.db
*.graphml
# *.pickle

# notebooks
*scratch.ipynb
# *.ipynb

# OS
**.DS_Store
*.idea

# project
.env
environment.yml
env_app.yml


#ignore data folders
data/
frontend/assets/
